@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

header {
  padding: 0 15px;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

.column {
  flex: 1;
  margin: 2px;
  padding: 10px;
&:first-child { margin-left: 0; }
&:last-child { margin-right: 0; }

}

footer {
  padding: 0 15px;
}


@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
&:nth-last-child(2) {
   margin-right: 0;
 }
&:last-child {
   flex-basis: 100%;
   margin: 0;
 }
}
}

@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
