.card-purple {
  background: rgb(128, 0, 255);
  background: linear-gradient(135deg, rgba(128, 0, 255, 1) 0%, rgba(255, 142, 176, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8000ff", endColorstr="#ff8eb0", GradientType=1);
}

.card {
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #dfdfdf;
  background: rgb(130, 137, 168);
  background: linear-gradient(135deg, rgba(130, 137, 168, 1) 0%, rgba(26, 44, 73, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8289a8", endColorstr="#1a2c49", GradientType=1);
}
